In [1]:
import os
from IPython.display import clear_output

from fmp_news import (
    load_nasdaq_universe,
    download_news_backfill,
    merge_news_parts,
    BackfillConfig,
)

# Set API key via environment variable
os.environ["FMP_API_KEY"] = "67jXuKOp0KmWB6FyH9k86zlxnTJSAql7"

In [2]:
universe = load_nasdaq_universe()
print(f"Loaded {len(universe)} symbols")
universe.head()

Loaded 6060 symbols

  symbol                                      Security Name
0   AACB  Artius II Acquisition Inc. - Class A Ordinary ...
1  AACBU                 Artius II Acquisition Inc. - Units
2   AACG  ATA Creativity Global - American Depositary Sh...
3    AAL       American Airlines Group, Inc. - Common Stock
4   AAME       Atlantic American Corporation - Common Stock

In [3]:
universe.to_parquet("data/universe.pqt")

In [4]:
def notebook_progress(si, total_s, sym, wi, total_w):
    clear_output(wait=True)
    print(f"[{si}/{total_s}] {sym} window {wi}/{total_w}")

In [ ]:
config = BackfillConfig(
    years=5,
    window_days=30,
    max_calls_per_minute=700,
)

download_news_backfill(
    universe_df=universe,
    config=config,
    progress_callback=notebook_progress,
)

[3427/6060] AHT$I window 47/61

In [ ]:
news = merge_news_parts()
print(f"Total articles: {len(news)}")
news.head()